<div class="login">  
    <div class="login__content">
        <div class="primary-bold-h2 color-black-300 ">
            <span class="line-under-text">Ca</span>mbiemos la contraseña
        </div>
    
        <div class="font-secondary-regular-12 color-black-400 ">
            Para hacerlo necesitamos que ingrese tu email <br>
            con el cual hiciste tu registro
        </div>
    


        <form [formGroup]="loginForm">
            <div class="formulario font-secondary-regular-12">
    
                <div class="formulario__inputs">
                    <app-input-library 
                        typeInput="ClassicInput"
                        label="Correo electrónico"
                        idTextField="email"
                        maxLength="50"
                        [minCaracter]="10"
                        formControlName="email"
                        cbxReactiveForm 
                        [form]="loginForm" 
                        [readOnly]="loadingButton" 
                        [firstTouchedValue]="false">
                    </app-input-library>  
 
                    <app-input-library
                        typeInput="ClassicInputRegistroPass"
                        label="Contraseña"
                        idTextField="password"
                        minLength="8"   
                        formControlName="password"
                        passValidator
                        [form]="loginForm" 
                        cbxReactiveForm  
                        [readOnly]="loadingButton" 
                        [firstTouchedValue]="false">
                    </app-input-library>  
                </div> 
            </div> 
        </form> 

        
        <div class="mt-4">
            <app-button
                (clicked)="onChangePass()"
                nombreBotton="Ingresar"
                type="BottonPrimary"
                size="xl"
                [loadingdButton]="loadingButton"
                [sizeResponsive]="true"
                [isDisabled]="loginForm.invalid">
            </app-button>
        </div>

        <div class="font-secondary-regular-16"> 
            <b class="cursor-pointer color-secondary" 
                (click)="onLogin()" >
                Iniciar sesión
            </b>
        </div> 
    </div>
 
</div>
