<app-navbar></app-navbar>
	<div class="home-lading">   
		<div class="cards"> 
   
			<app-card
				id="home" 
				[dataArray]="dataDevelopArray$"
				type="CardDevelop">
			</app-card>
			
			<app-card
				id="jobs"
				title="EXPERIENCIA LABORAL"
				type="CardExperiencia"
				[dataArray]="expLaboralArray$"
				dataHover="Click para conocer más">
			</app-card>
		
			<app-card
				id="proyectos"
				title="PROYECTOS"
				type="CardProyectos"
				[dataArray]="proyextosArray$"
				dataHover="Click para conocer más">
			</app-card>
		
		  	<app-card
				id="contact"
				title="CONTACTO"
				type="CardContacto"
				[dataArray]="profileArray$"
				dataHover="Click para conocer más">
			</app-card>   

		</div> 
	</div>
<app-footer></app-footer> 