 @import '../../assets/custom/breakpoints.scss';

 .landing{
	text-align: center; 
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    gap: 2em; 

	&__name{
		max-width: 420px;

		h1{
			letter-spacing: 3px;
			padding: 0.2em 1em;
			margin: 0;
		}
	}

	&__profession{
		padding: 1em 0;
		max-width: 400px;
		display: flex;
		text-align: center;
		line-height: 20px;
		letter-spacing: 1px;
	}
 }
 
 .home-lading{
	background-color: lightgray;
	display: flex;
    flex-direction: column;
 }
  
 .cards{ 
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center; 
    gap: 5em;
    padding: 5em; 
 
	@include media-breakpoint("lt-md") {  
		gap: 5em;
		padding: 3em; 
		display: flex;
		flex-direction: column;
	} 
 }
 
 .skills{
	text-align: center;
	padding: 3em 2em ; 
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    gap: 2em;
 
	&__info{
		max-width: 500px;
		letter-spacing: 1px;
		font-family: cursive;
	}

	&__iconos{ 
		padding: 0 25%; 

		
		@include media-breakpoint("lt-sm") {  
			padding: 0 1em; 
		}

		.content{
			justify-content: center;
			display: flex;
			gap: 2em;
			align-items: center;
			padding: 2em;
			flex-wrap: wrap; 
		}
		

		img{
			border-radius: 10%;
			padding-bottom: 5px;
			//	filter: drop-shadow(0px 15px 15px black);
		 	//
			filter: drop-shadow(0px 0px 5px yellow);
		} 
	}
 }


 .jobs{
	&__cabecera{
		display: flex;
		justify-content: center;  
		marquee{
			padding: 1.5em 0;
			background-color: #5d5d00;
			color: white;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 2px;
			display: flex;

			span{
				padding: 0 1em; 
			}
		}
	}
 }


 .exp-laboral{
	justify-content: center;
    align-items: center;
	display: grid;
    flex-direction: column;
	padding: 5em 10em;
    gap: 2em;
	background: #dbdbff;

	@include media-breakpoint("lt-sm") {  
		padding: 1.5em;
	}

	&__content{
		display: flex;
		border: 2px solid black;
		border-radius: 20px;
	    background: white;
		margin: 0 3em; 

		img{
			width: 250px;	 
			height: initial;
		}

		@include media-breakpoint("lt-sm") {  
			display: grid; 
			margin: 0 1em; 

			img{
				width: 100%;	
				height: 150px;
			}
		} 

	

		&--par{  
			img{
				border-radius:  20px 0 0 20px;
				@include media-breakpoint("lt-sm") {   
					border-radius: 20px 20px 0 0; 
				}  
			}
		} 
	
		&--impar{ 
			flex-direction: row-reverse;   
			img{
				border-radius: 0 20px 20px 0;
				@include media-breakpoint("lt-sm") {   
					border-radius: 20px 20px 0 0; 
				}  
			}
		}  

		.datos-exp{
			display: flex;
			flex-direction: column;
			width: 100%;
			justify-content: center;
			align-items: center;
			padding: 1em 0;

			@include media-breakpoint("lt-sm") {   
				padding: 1em 0;
			} 

			&__description{
				padding: 1.5em;
				text-align: justify;
				font-size: 15px;

				@include media-breakpoint("lt-sm") {   
					padding: 1em;
					font-size: 20px;
				}  

			}
		 
		
		} 

	}


 }

 
@mixin loaderName() {
	height: 6px;
	position: relative;
	overflow: hidden;
	background-color: transparent ; 
	border-radius: 10px;
}

@mixin loaderNameAfter($animation, $bg-color) {
content: "";
position: absolute; 
height: 3px; 
background-color: $bg-color ; 
border-radius: 50px;
animation: $animation 3s forwards;
animation-fill-mode: forwards;
display: block; 
animation-delay: 1s;
}

@keyframes lineAnimUp {
0% { width: 0%; }
100% { width: 100%; background-color: #34b356 }
} 

  
.loader-up {
@include loaderName();  
&:after {@include loaderNameAfter(lineAnimUp, #C7B1DA)}   

&--rotate {
	transform: rotate(180deg);
}
}
 
@mixin animationFadeIn($fade, $delay) {
	animation: $fade;
	animation-delay: $delay;
}
 
.animation-fadeIn{ 
	@include animationFadeIn(AnimationfadeIn 1.5s ease-in-out, 0s); 
 
	&--description{
		@include animationFadeIn(AnimationfadeInElementos 4s ease-in-out, 0s); 
	}
	&--button{
		@include animationFadeIn(AnimationfadeInElementos 4.1s ease-in-out, 0s); 
	}
	&--skills{
		@include animationFadeIn(AnimationfadeInElementos 2.1s ease-in-out, 0s); 
	}
}

@keyframes AnimationfadeIn {
	0% { visibility: hidden; opacity: 0; }
	50% { visibility: hidden; opacity: 0.5;	}
	100% { visibility: visible; opacity: 1;	}
}

.animation-bg-imagen{ 
	background-image: url("../../assets/background/bg-portafolio-1.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0; /* initial size is 0 */
	transition: background-size 2.5s forwards;
	animation: AnimationfadeInBG 1s forwards;
	animation-delay: 2.5s;
  
}
 

@keyframes AnimationfadeInBG {  
	100% {
		background-size: cover;
		opacity: 1;
		background-image: url("../../assets/background/bg-portafolio-1.webp");
		background-repeat: no-repeat;
		background-position: center; 
	} 
}
 
@keyframes AnimationfadeInElementos {
0% { visibility: hidden }
25% { visibility: hidden }
50% { visibility: hidden }
75% { visibility: visible; opacity: 0.5; }
100% { visibility: visible; opacity: 1;	}
}