<div class="encuesta">
    <div class="opcion-titulo primary-bold-h2"> 
        <div class="titulo-pregunta">
            {{currentQuestion.pregunta}}
        </div> 
    </div> 

    <div class="encuesta__opciones">
        <div class="imagen">
            <img [src]="currentQuestion | imagenDefault : answer" alt="" width="250" height="250">
         </div>
         <div class="alternativas cursor-pointer">
            <div class="primary-bold-h4"  *ngFor="let op of currentQuestion.opciones_respuesta"> 
                <div class="opcion" [ngClass]="op.clase" (click)="onValidateRespuesta(currentQuestion.id_encuesta, op)">
                    <div class="code" [ngClass]="op.clase" >
                        {{ op.opcion }} 
                    </div>
                    <div class="name-opcion"  [ngClass]="op.clase">
                        {{op.respuesta | titlecase}}
                    </div> 
                </div> 
            </div> 
         </div>
    </div> 
</div>

 